form{
    .btn-facebook {      //fb-butn
    background-color:$facebook-color;
    color:$white-color;              
    border-radius:7px;
}
.btn-twitter {           //twitter-btn
    background-color: $twitter-color;
    color:$white-color;
    border-radius:7px;
}
.btn-google{            //google-btn
    background-color:$red-color;
    color:$white-color;
    border-radius:7px;
}
.btn-sign{             //sign-btn
    background-color: $facebook-color;
    border-radius:7px;
    &:hover{
        background-color: black;
    }
}
}